[local]
host = 127.0.0.1
port = 3306
user = softwareinfra
password = dynaslope2020
schema = analysis_db


[gsm_pi]
host = 127.0.0.1
port = 3306
user = softwareinfra
password = dynaslope2020
schema = comms_db


[analysis]
host = 127.0.0.1
port = 3306
user = softwareinfra
password = dynaslope2020
schema = analysis_db


[website]
host = 127.0.0.1
port = 3306
user = softwareinfra
password = dynaslope2020
schema = ewi_db


[common]
host = 127.0.0.1
port = 3306
user = softwareinfra
password = dynaslope2020
schema = commons_db
