Install Python 3 version of pip using "sudo apt-get install python3-pip" if not yet installed through miniconda.

For dynaslope3 production server, you can safely ignore packages with marked as **dev**.

Note: Install packages using conda first. <ex. conda install autopep8>
Only use pip if packages are not available in conda. <ex. pip install marshmallow-sqlalchemy>
You can safely ignore the version on installing packages.*


Package                Version   
---------------------- ----------  
autopep8               1.4.3        (dev)      
Flask                  1.0.2     
Flask-Bcrypt           0.7.1     
Flask-Cors             3.0.7     
Flask-JWT-Extended     3.16.0    
Flask-Login            0.4.1      
Flask-SQLAlchemy       2.3.2
flask-marshmallow*     0.9.0
marshmallow*           2.21.0
marshmallow-sqlalchemy* 0.16.0       
mysqlclient            1.4.1     
pep8                   1.7.1        (dev)
pylint                 2.2.2        (dev)
pylint-flask           0.5          (dev)
pylint-plugin-utils    0.4          (dev)
selenium
phantomjs
fpdf
eventlet
gevent
gevent-websocket
flask-socketio
img2pdf
celery
redis

Analysis Scripts Library
------------------------
pandas
python-memcached
serial
python-gsmmodem
pyfinance**
pymysql

NOTES:
*except for marshmallow, flask-marshmallow, and marshmallow-sqlalchemy. After installing packages, uninstall these files with recommended versions
**pyfinance has bug in terms of import requirements as of January 2021; it is recommended to install v0.3.1 to make to server work
***As of January 2021, an update on socketio makes compatibility problems on client socketio. Read here for fix and updates: https://github.com/miguelgrinberg/python-socketio/issues/578
